
.header {
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #23333D;
    margin-left: 22%;
    position: 'fixed';
  }

  hr {
    margin-top: 5px;
    margin-left: 22%;
    margin-right: 25%;
    border: 2px solid #59B;
    position: 'fixed';
  }
