
.header {
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #23333D;
    margin-left: 22%;
   
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #59B;
    margin: 1em 0;
    padding: 0;
  }

  